/* // <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name */

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: lightblue;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}
